*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

:root{
    --nmsheight:300px;
    --hfheight:100px;
    --nmspaddingtop:110px;
    --hfpaddingtop:30px;
}

.grid { 
    color: white;
    background-color: #dddee0;
    display:grid;
    grid-template-areas:
    'holy holy holy holy '
    'nav main main side '
    'foot foot foot foot';
    gap:20px 10px;
    padding: 20px;
}

.grid div {
    text-align: center;

    
    font-size: 30px;
  }

  
.holy{
    grid-area:holy;
    background-color: rgb(13, 139, 241);
    height: var(--hfheight);
    padding-top: var(--hfpaddingtop);
}

.nav{
    grid-area: nav;
    background-color: rgb(89, 179, 240);
    height: var(--nmsheight);
    padding-top: var(--nmspaddingtop);
}

.main{
    grid-area:main;
    background-color: rgb(168, 168, 168);
    height: var(--nmsheight);
    padding-top: var(--nmspaddingtop);
}


.side{
    grid-area:side;
    background-color: rgb(89, 179, 240);
    height: var(--nmsheight);
    padding-top: var(--nmspaddingtop);
}

.foot{
    grid-area: foot;
    background-color: rgb(13, 139, 241);
    height: var(--hfheight);
    padding-top: var(--hfpaddingtop);
}